h1 {
	font-family: fantasy; ;
	font-size: 50px;
	margin: 20px;
	text-decoration: underline;
	color: white;
}

p {
	font-family: sans-serif;
	text-decoration: underline;
	color: white;
}

body {
	text-align: center;
	padding: 100px 50px 10px 1px;
	background: #808080;
}

#save input{
	background: #333333;
	color: #ffffff;
	cursor: pointer;
	padding: 10px;
	border: 0;

}

#save form input:hover{
	background: orange;
}
